@model IEnumerable<HotelPrenotazioni.Models.Prenotazione>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="create-client-link" asp-action="Create">Crea nuova prenotazione</a>
</p>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Camera.Prezzo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInizio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stato)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome) <!-- Mostra il nome del cliente -->
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Camera.Numero) <!-- Mostra il numero della camera -->
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInizio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stato)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PrenotazioneId">Modifica</a> |
                        <a asp-action="Details" asp-route-id="@item.PrenotazioneId">Dettagli</a> |

                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.PrenotazioneId" class="text-danger">Cancella</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

