@model HotelPrenotazioni.Models.Camera

@{
    ViewData["Title"] = "Delete";
}




<div>
    <h4>Elimina Camera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CameraId" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
